body{
  background: 
  radial-gradient(circle, #5D20D5 5%, transparent 60%) center,              
   black;
  background-repeat: no-repeat;
  background-size: 100% , cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  overflow-x: hidden  
}
.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #111;
  color: #ffffff;
  transition: transform 0.3s ease;
}

  
.sidenav-link{
  display: block;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
  background-color: rgba(24,23,123,.2);
}

.sidenav-item {
  position: relative;
  top: 100px;
  display: block;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}

.sidenav-item:hover {
  background-color: #495057;
  color: #ffffff;
}

.sidenav.collapsed {
  transform: translateX(-100%);
}

.content {
  margin-left: 250px;
  transition: margin-left 0.3s ease;
}

.content.expanded {
  margin-left: 0;
}

h1{
  color: #FFFFFF;
  font-size: 32px;
}
h6{
  color: #FF7040;
}
p{
  color: #FFFFFF;
}

.front{
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(88, 74, 159, .20);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, .5);
  gap: 10px;
}  
.main_text{
  flex: 1;
  padding: 10px 10px 10px 100px;
  min-width: 500px;
  max-width: 700px;
}
.front_image{
  justify-content: center;
  align-items: center;
  width: 400px;
  max-width: 500px;
  height: 100%;
  flex: 1;
  display: flex;
  overflow: hidden;
}
.navbox {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.nav_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bi-list {
  color: rgba(255, 112, 64, 0.9);
  font-size: 34px;
}

.orange_btn{
background-color: rgba(255,112,64,.9);
color: #ffffff;
border-radius: 20px;
font-size: 14px;
transition: background-color 0.3s ease;
}

.orange_btn:hover { 
  background-color: rgba(255,112,64,1);
  color: #ffffff;
}


.orange_btn:focus, .orange_btn:active {
  box-shadow: none !important; 
  background-color: rgba(255,112,64,1) !important; 
}