body{
  background: 
  radial-gradient(circle, #5D20D5 5%, transparent 60%) center,              
   rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-size: 100% , cover;
  background-attachment: fixed;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;  
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(135deg, #111, #444);
  color: #ffffff;
  overflow-y: auto;
  transition: transform 0.3s ease;
  z-index: 1000;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.sidenav-toggle {
  position: absolute;
  top: 10px;
  right: -40px;
  width: 40px;
  height: 40px;
  background: #111;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 18px;
  z-index: 1100;
  border-radius: 0 5px 5px 0;
}

.sidenav-link {
  display: block;
  border-radius: 20px;
  color: #ffffff;
  padding: 15px 20px;
  text-decoration: none;
  font-size: 16px;
  transition: background 0.3s ease, padding-left 0.3s ease;
}

.sidenav-link:hover {
  
  background-color: rgba(255, 112, 64, 0.7);
  padding-left: 25px;
  color: #ffffff;
}

.sidenav-item {
  position: relative;
  top:100px;
}

.dropdown-item {
  font-size: 14px;
  padding-left: 30px;
}

.dropdown-item:hover 
{border-radius: 20px;
  background-color: rgba(255, 112, 64, 0.5);
  
}

.sidenav.collapsed {
  transform: translateX(-100%);
}

.sidenav .collapse {
  padding-left: 15px;
}


.sidenav-link.active {
  background-color: rgba(255, 112, 64, 1);
  font-weight: bold;
}
.content {
  
  transition: margin-left 0.3s ease;
}

.content.expanded {
  margin-left: 0;
}

h1, h2, h3, h6 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #FFFFFF;
  font-size: clamp(34px, 5vw, 40px);
}
h2{
  padding-top: 100px;
  text-align: center;
  color: #FF7040;
}

h3{
  color:#FFFFFF;
  font-size: clamp(20px, 2vw, 34px)
}
h5{
  color: #FF7040;
}
h6 {
  color: #FF7040;
  font-size: clamp(10px, 1.5vw, 12px);
}

p {
  font-family: 'Roboto', sans-serif;
  color: #FFFFFF;
  font-size: clamp(14px, 2vw, 16px);
}

.front {
  align-content: space-between;
  background-color: rgba(88, 74, 159, 0.2);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
  gap: 10px;
}
.main_text{
  padding-left: 10%;
}
.front_image{

  align-content: center;
  object-fit: cover;
 
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 0 !important;
}
.orange_btn {
  background-color: rgba(255, 112, 64, 0.9);
  color: #111;
  border-radius: 30px;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(8px, 2vw, 10px);
  font-weight: bold;
  padding: 2px 20px;
  border: 2px solid rgba(255, 112, 64, 1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.orange_btn:hover {
  background-color: rgba(255, 112, 64, 1);
  color: #fff;
}



table{
  color: #FFFFFF;
}
.navbox {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1000;
}

.nav_btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bi {
  color: rgba(255, 112, 64, 0.9);
  font-size: 34px;
}
.row{
  padding: 5%;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section{
  display: block;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.box{
  background-color: rgba(88, 74, 159, 0.2);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 30px;
  text-align: left;
  display: inline-block;
  align-items: center;
  justify-content: center; 
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.box_1{
  
  width: auto; 
  
}

.box_2{
  width: 350px;
}
.card{
 
  color:#FF7040;
  background-color: rgba(88, 74, 159, 0.2);
  box-shadow: 3px 3px 9px rgba(0, 0, 0, 0.5)

}
.card-img-top{
  padding: 5%;
  width: 260px;
  height: 260px;
}
.footer{
  background-color: rgba(13, 6, 14, 0.9);
}
